@import "vars.sass" 




header
	min-height: 670px
	background: url(../img/top-bg.jpg) center
    width: 100%
.jumbotron
  padding-bottom: 50px
  background-color: transparent
.display-3
   text-align: center
   color: #fff
.lead
   text-align: center
   color: #fff




