.main-head
	background-color: #bbb
  line-height: 2
  background: #ffffff none repeat scroll 0 0

.call-us p
  color: #ffffff
  font-weight: 500
  line-height: 40px
  text-align: center
  display: inline
  margin: 0 0 10px

/*top-link*/

.top-link > ul.link
		margin: 0 0 10px
  > li
    float: left
    position: relative
    list-style: none
    display: inline

    &::before
      background: #ffffff none repeat scroll 0 0
      content: ""
      height: 15px
      left: 0
      position: absolute
      top: 13px
      width: 1px
    &:first-child::before
      display: none
    a
      color: #ffffff
      display: block
      font-size: 0
      height: 40px
      line-height: 30px
      overflow: hidden
      padding: 10px 20px
      text-align: center
      text-transform: capitalize
      white-space: nowrap
      width: 30px
      list-style: none
      text-decoration: none
      i
        font-size: 15px
        line-height: 10px
        color: #ffffff
        list-style: none
      &:hover
        i
        padding-right: 5px
        color: #fff
        font-size: 14px
        line-height: 19px
        width: auto

      &:focus, &:active
        color: #fff
        font-size: 13px
        line-height: 19px
        width: auto


